In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
dataset_diabetes = pd.read_csv(r"C:\Users\acer\Documents\misdocumentos\MATERIAL DE ESTUDIO\model_clasification\clasification_diabetes\diabetes.csv")
dataset_diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [8]:
dataset_diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [10]:
X = dataset_diabetes.drop('Outcome', axis=1)
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [11]:
y = dataset['Outcome']
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [13]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [14]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [15]:
y_pred = classifier.predict(X_test)
y_pred

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [16]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[85 25]
 [18 26]]
              precision    recall  f1-score   support

           0       0.83      0.77      0.80       110
           1       0.51      0.59      0.55        44

    accuracy                           0.72       154
   macro avg       0.67      0.68      0.67       154
weighted avg       0.74      0.72      0.73       154

In [17]:
df = pd.DataFrame(y_pred, columns = ['predict'])
df

     predict
0          0
1          1
2          0
3          0
4          0
..       ...
149        0
150        1
151        0
152        0
153        0

[154 rows x 1 columns]

In [18]:
df_index = pd.merge(df, X_test, right_index=True, left_index=True)
df_index

,predict,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
3,0,1,89,66,23,94,28.1,0.167,21
4,0,0,137,40,35,168,43.1,2.288,33
9,0,8,125,96,0,0,0.0,0.232,54
12,0,10,139,80,0,0,27.1,1.441,57
16,1,0,118,84,47,230,45.8,0.551,31
17,1,7,107,74,0,0,29.6,0.254,31
20,0,3,126,88,41,235,39.3,0.704,27
25,0,10,125,70,26,115,31.1,0.205,41
40,0,3,180,64,25,70,34.0,0.271,26
41,0,7,133,84,0,0,40.2,0.696,37
46,0,1,146,56,0,0,29.7,0.564,29
53,0,8,176,90,34,300,33.7,0.467,58
56,0,7,187,68,39,304,37.7,0.254,41
64,1,7,114,66,0,0,32.8,0.258,42
74,1,1,79,75,30,0,32.0,0.396,22
75,1,1,0,48,20,0,24.7,0.140,22
82,1,7,83,78,26,71,29.3,0.767,36
83,1,0,101,65,28,0,24.6,0.237,22
96,1,2,92,62,28,0,31.6,0.130,24
98,0,6,93,50,30,64,28.7,0.356,23
103,0,1,81,72,18,40,26.6,0.283,24
118,1,4,97,60,23,0,28.2,0.443,22
119,0,4,99,76,15,51,23.2,0.223,21
120,0,0,162,76,56,100,53.2,0.759,25
128,0,1,117,88,24,145,34.5,0.403,40
138,0,0,129,80,0,0,31.2,0.703,29
143,1,10,108,66,0,0,32.4,0.272,42

In [21]:
df_index.to_csv("C:\\Users\\acer\\Documents\\misdocumentos\\MATERIAL DE ESTUDIO\\model_clasification\\clasification_diabetes\\predict_diabetes.csv")